{% comment %}
  Dynamically fetches related blog posts based on product metafields across all blogs.
  Falls back to globally defined posts if no specific metafields are present.
{% endcomment %}



{% assign related_post_ids = product.metafields.custom.related_post_ids.value 
      | remove: '['
      | remove: ']'
      | remove: '"' %}

{% if related_post_ids %}

  
{% assign related_post_ids = related_post_ids | split: ',' %}

{{ related_post_ids | json }}
  
  {% assign found_posts = false %}
   {% for link in linklists.blogs.links %}
       {% assign blog = link.object %}
     {% for article in blogs[blog.handle].articles %}
    
       
     {% for meta_post_id in related_post_ids %}
            {%- liquid
              assign post_id = meta_post_id | times: 1
      
            -%}
              {% if post_id == article.id %}
                 {% assign found_posts = true %}
                    {% capture related_posts %}
                      {{ related_posts }}{{ article | json }},
                    {% endcapture %}
                {% endif %}
         {% endfor %}
    {% endfor %}
    
    {% assign related_posts_array = related_posts | split: ',' %}
    <!-- Output your related posts here -->
    {{ related_posts_array | json }}
  {% endfor %}
{% endif %}

{{ related_posts | json }}

{% comment %}
{% for link in linklists.blogs.links %}
       {% assign blog = link.object %}
     {% for article in blogs[blog.handle].articles %}
     

         {% for meta_post_id in related_post_ids %}
            {%- liquid
              assign post_id = meta_post_id | times: 1
      
            -%}
              {% if post_id == article.id %}
                <div id={{ article.id }}>
            <h3>{{ article.title }}</h3>
      <img src="{{ article.image.src | img_url: '300x300' }}" alt="{{ article.title }}">
      <p>{{ article.excerpt | strip_html | truncatewords: 20 }}</p>
      <a href="{{ article.url }}" title="{{ article.title }}">Read more</a>
                </div>
           {% endif %}
         {% endfor %}

      
    {% endfor %}
  {% endfor %}{% endcomment %}


{% if found_posts == false %}
  {% assign global_related_posts_ids = section.settings.global_related_posts_ids | split: ',' %}
  {% assign related_posts = '' | split: ',' %} 
  
   {% for link in linklists.blogs.links %}
       {% assign blog = link.object %}
     {% for article in blogs[blog.handle].articles %}
      {% if global_related_posts_ids contains article.id %}
        {% assign related_posts = related_posts | append: article | split: ',' %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}


{% assign related_post_ids = product.metafields.custom.related_post_ids.value | remove: '[' | remove: ']' | remove: '"' | split: ',' %}

{% if related_post_ids.size > 0 %}
  {% assign found_posts = false %}
  {% assign related_posts = '' %}

  {% for blog_handle in blogs %}
    {% assign blog_articles = blogs[blog_handle].articles %}

    {% for article in blog_articles %}
      {% if related_post_ids contains article.id %}
        {% assign found_posts = true %}
        {% capture related_posts %}
          {{ related_posts }}{{ article | json }},
        {% endcapture %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% if found_posts %}
    {% assign related_posts_array = related_posts | split: ',' %}
    <!-- Output your related posts here -->
    {{ related_posts_array | json }}
  {% else %}
    <p>No related posts found.</p>
  {% endif %}
{% else %}
  <p>No related post IDs specified.</p>
{% endif %}



<div class="related-blog-posts">
  {% for article in related_posts %}
    <div class="blog-post" id={{ article.id }}>
      <h3>{{ article.title }}</h3>
      <img src="{{ article.image.src | img_url: '300x300' }}" alt="{{ article.title }}">
      <p>{{ article.excerpt | strip_html | truncatewords: 20 }}</p>
      <a href="{{ article.url }}" title="{{ article.title }}">Read more</a>
    </div>
  {% else %}
    <p>No related posts available.</p>
  {% endfor %}
</div>


{% schema %}
{
  "name": "Related Blog Posts",
  "tag": "section",
  "limit": 1,
  "class": "section related-post",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "id": "global_related_posts_ids",
      "type": "text",
      "label": "Global Related Post IDs",
      "info": "Enter comma-separated blog post IDs to be used as a global fallback."
    }
  ],
  "presets": [
    {
      "name": "Default Related Blog Posts"
    }
  ]
}
{% endschema %}