{% comment %}
  Dynamically fetches related blog posts based on product metafields across all blogs.
  Falls back to globally defined posts if no specific metafields are present.
{% endcomment %}



{% assign related_post_ids = product.metafields.custom.related_post_ids.value 
      | remove: '['
      | remove: ']'
      | remove: '"' %}

{% if related_post_ids %}

  
{% assign related_post_ids = related_post_ids | split: ',' %}

  {% assign found_posts = false %}
  {% assign related_posts = '' | split: ',' %} 
  
   {% for link in linklists.blogs.links %}
       {% assign blog = link.object %}
     {% for article in blogs[blog.handle].articles %}
      {% if related_post_ids contains article.id %}
        {% assign found_posts = true %}
        {% assign related_posts = related_posts | append: article | split: ',' %}
       
      {% endif %}
    {% endfor %}
    
    {% if found_posts %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

{% for link in linklists.blogs.links %}
       {% assign blog = link.object %}
 
      {% if related_post_ids contains article.id %}
      {% endif %}

         {% for meta_post_id in related_post_ids %}
            {%- liquid
              assign post_id = meta_post_id | times: 1
              assign posts_obj = blogs[blog.handle].articles | where: 'id', post_id
              assign meta_post = posts_obj[0]
            -%}

            <h3>{{ meta_post.title }}</h3>
      <img src="{{ meta_post.image.src | img_url: '300x300' }}" alt="{{ meta_post.title }}">
      <p>{{ meta_post.excerpt | strip_html | truncatewords: 20 }}</p>
      <a href="{{ meta_post.url }}" title="{{ meta_post.title }}">Read more</a>
         {% endfor %}

      
    {% endfor %}



{% if found_posts == false %}
  {% assign global_related_posts_ids = section.settings.global_related_posts_ids | split: ',' %}
  {% assign related_posts = '' | split: ',' %} 
  
   {% for link in linklists.blogs.links %}
       {% assign blog = link.object %}
     {% for article in blogs[blog.handle].articles %}
      {% if global_related_posts_ids contains article.id %}
        {% assign related_posts = related_posts | append: article | split: ',' %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

<div class="related-blog-posts">
  {% for article in related_posts %}
    <div class="blog-post">
      <h3>{{ article.title }}</h3>
      <img src="{{ article.image.src | img_url: '300x300' }}" alt="{{ article.title }}">
      <p>{{ article.excerpt | strip_html | truncatewords: 20 }}</p>
      <a href="{{ article.url }}" title="{{ article.title }}">Read more</a>
    </div>
  {% else %}
    <p>No related posts available.</p>
  {% endfor %}
</div>


{% schema %}
{
  "name": "Related Blog Posts",
  "tag": "section",
  "limit": 1,
  "class": "section related-post",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "id": "global_related_posts_ids",
      "type": "text",
      "label": "Global Related Post IDs",
      "info": "Enter comma-separated blog post IDs to be used as a global fallback."
    }
  ],
  "presets": [
    {
      "name": "Default Related Blog Posts"
    }
  ]
}
{% endschema %}